[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "ohmyzsh"]
	path = ohmyzsh
	url = https://github.com/ohmyzsh/ohmyzsh
[submodule "gruvbox-contrib"]
	path = gruvbox-contrib
	url = https://github.com/morhetz/gruvbox-contrib
[submodule "vifm-colors"]
	path = vifm-colors
	url = https://github.com/vifm/vifm-colors
[submodule "dotenv-shell"]
	path = dotenv-shell
	url = https://github.com/madcoda/dotenv-shell
[submodule "zsh-z"]
	path = zsh-z
	url = https://github.com/agkozak/zsh-z
[submodule "alien"]
	path = alien
	url = https://github.com/eendroroy/alien.git
[submodule "spaceship-prompt"]
	path = spaceship-prompt
	url = https://github.com/spaceship-prompt/spaceship-prompt.git
[submodule "zsh/plugins/zsh-auto-notify"]
	path = zsh/plugins/zsh-auto-notify
	url = https://github.com/MichaelAquilina/zsh-auto-notify.git
[submodule "zsh/plugins/zsh-autosuggestions"]
	path = zsh/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
[submodule "zsh/plugins/zsh-vi-mode"]
	path = zsh/plugins/zsh-vi-mode
	url = https://github.com/jeffreytse/zsh-vi-mode.git
[submodule "zsh/plugins/zsh-syntax-highlighting"]
	path = zsh/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
