#include ".dotfiles/gruvbox-contrib/xresources/gruvbox-dark.xresources"
#include ".dotfiles/gruvbox-contrib/urxvt256/gruvbox-urxvt256.xresources"
!!Xft.dpi: 120
Xft.autohint: 0
Xft.lcdfilter:  lcddefault
Xft.hintstyle:  hintfull
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb
Xcursor.theme: Vanilla-DMZ
!! ===========================================================================
!!                               Urxvt
!! ===========================================================================
URxvt.font:               xft:Source Code Pro:style=Medium:pixelsize=14:antialias=true:hinting=slight
URxvt.boldFont:           xft:Source Code Pro:style=Bold:pixelsize=14:antialias=true:hinting=slight
URxvt.scrollBar:false
URxvt.saveLines: 10000
URxvt.perl-ext-common: default,matcher
URxvt.underlineURLs:true
URxvt.fading:75
URxvt.intensityStyles: false
!! ===========================================================================
!!                               rofi
!! ===========================================================================
rofi.theme:                          gruvbox-dark
rofi.font:                           Source Code Pro Medium 12
